{% comment %}
{% include molecule.card.html image="jpg/stock-1.jpg" title="Card title" body="​Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae nunc scelerisque, porttitor leo quis, venenatis nisl. Donec volutpat erat quis mauris ullamcorper, luctus hendrerit odio pulvinar.​" footnote="Footnote" %}
{% endcomment %}
<article class="c-card s-theme-white">
  <div class="c-card__image o-ratio o-ratio--16:9">
    <img src="/assets/img/{{ image }}" alt="Stock image" class="o-ratio__content">
  </div>
  <div class="o-box c-card__body">
    <h3><a href="#!" class="c-link c-link--bare c-card__link">{{ title }}</a></h3>
    <p>​{{ body }}</p>
    <p>
      <small class="c-badge">
        {{ footnote }}
      </small>
    </p>
  </div>
</article>
