{% comment %}
{% include organism.footer.html %}
{% endcomment %}
<div class="o-row c-color-white">
  <div class="o-wrapper o-wrapper--huge c-ui c-ui--footer">
    {% include "components/molecule.social-links.liquid" %}

    <small class="u-margin-bottom-none">
      ©{{ site.copyright.year }} {{ site.copyright.author }}.
      {% for item in nav.footer %}
      <a href="{{ item.url }}" class="c-link">{{ item.title }}</a>
      {% endfor %}
    </small>
  </div>
</div>
