{% comment %}
{% include "components/atom.toggletip" %}
{% endcomment %}
<p>
  Lorem ipsum dolor. {% include "components/atom.toggletip.liquid" title:"More info" icon:"info" desc:"This clarifies whatever needs clarifying." location:"right" %}
</p>

