---
title: Get in touch!
layout: default

form:
  fields:
  - label: Name and/or company name
    info:
    type: text
    is-required: true
  - label: E-mail address
    info:
    type: e-mail
    is-required: true
  - label: Project type
    info: optional
    type: select
    options:
    - Visual identity
    - Visual communication
    - Website
    - Front-end development
    - Workshop
    - Design sprint
    - I don't know
    - Other (please describe in your message)
    is-required: false
  - label: Message
    info:
    type: textarea
    is-required: true
  - label: Phone number
    info: optional
    type: phone
    is-required: false
    callmeback: Call me back
---

<div class="o-box o-box--beta">
  <h1>Get in touch!</h1>
  <ul class="o-list-bare">
    <li class="o-list-bare__item"><a href="mailto:hello@dieterpeirs.com" class="c-link c-lead" title="hello@dieterpeirs.com">hello@dieterpeirs.com</a></li>
    <li class="o-list-bare__item"><a href="tel:+32 479 79 76 74" class="c-link c-lead" title="+32 479 79 76 74">+32 479 79 76 74</a></li>
  </ul>
</div>

<div class="c-card c-card--gamma">
  <div class="o-box o-box--beta">
    <h2>Let's discuss a project!</h2>
    <p>Tell me something about your project/idea/challenge?</p>
    <form action="https://formspree.io/hello@dieterpeirs.com" method="POST">
      {% for item in page.form.fields %}
      <p class="c-field">
        <label for="{{ item.label | remove:" " | downcase }}" class="c-label">{{ item.label }}{% if item.info %} <span class="c-small">({{ item.info }})</span>{% endif %}</label>
        {% if item.type == "text" %}
        <input name="{{ item.label }}" type="text" id="{{ item.label | remove:" " | downcase }}" class="c-input c-input--lg"{% if item.is-required == true %} required{% endif %}>
        {% endif %}
        {% if item.type == "e-mail" %}
        <input name="{{ item.label }}" type="email" id="{{ item.label | remove:" " | downcase }}" class="c-input c-input--md"{% if item.is-required == true %} required{% endif %}>
        {% endif %}
        {% if item.type == "select" %}
        <span class="c-select">
          <select name="{{ item.label }}" id="{{ item.label | remove:" " | downcase }}"{% if item.is-required == true %} required{% endif %}>
            <option value="empty"></option>
            {% for item in item.options %}
            <option name="{{ item | remove:" " | downcase }}" value="{{ item | remove:" " | downcase }}">{{ item }}</option>
            {% endfor %}
          </select>
        </span>
        {% endif %}
        {% if item.type == "phone" %}
        <input name="{{ item.label }}" type="tel" id="{{ item.label | remove:" " | downcase }}" class="c-input c-input--sm"{% if item.is-required == true %} required{% endif %}>
        {% if item.callmeback %}
        <span class="c-checkbox-group">
          <input name="Give me a call" type="checkbox" id="call" class="c-checkbox c-checkbox-group__input">
          <label for="call" class="c-checkbox-group__label c-small">{{ item.callmeback }}</label>
        </span>
        {% endif %}
        {% endif %}
        {% if item.type == "textarea" %}
        <textarea name="{{ item.label }}"  id="{{ item.label | remove:" " | downcase }}" rows="10" class="c-input c-input--textarea"{% if item.is-required == true %} required{% endif %}></textarea>
        {% endif %}
      </p>
      {% endfor %}
      <p class="u-margin-bottom-none u-margin-top-beta">
        <input type="submit" value="Submit" class="c-btn c-btn--alpha">
      </p>
    </form>
  </div>
</div>
