{% if page.title == 'Home' %}
<h1 class="c-brand-mark u-h6">
  <span>{{ site.title }}</span>
  <a href="#content" class="c-link c-link--bare c-link--skip js-skip"><span>Skip to content {% include atom.icon.html value="arrow" %}</span></a>
</h1>
{% else %}
<p class="c-brand-mark u-h6">
  <a href="{{ site.github.url }}/" alt="Homepage" class="c-brand-mark__link">
    {{ site.title }}
  </a>
  <a href="#content" class="c-link c-link--bare c-link--skip js-skip"><span>Skip to content {% include atom.icon.html value="arrow" %}</span></a>
</p>
{% endif %}
