{% comment %}
{% include organism.tooltips.html %}
{% endcomment %}
<ul class="o-list-bare o-layout">
  <li class="o-layout__item u-1/2 u-1/4@medium">
    <div class="c-tooltip c-tooltip--bottom">
      <button class="c-btn-reset c-tooltip__link" aria-labelledby="notifications-count notifications-label" aria-describedby="notifications-desc">
        {% include atom.icon.html value="notifications" %}
        <span id="notifications-count" class="c-badge c-badge--icon">3</span>
        <span class="u-hidden-visually">
          Notifications
        </span>
      </button>
      <div id="notifications-desc" class="c-tooltip__body" role="tooltip">
        View and manage notifications settings
      </div>
    </div>
  </li>
  <li class="o-layout__item u-1/2 u-1/4@medium">
    <div class="c-tooltip c-tooltip--top">
      <button class="c-btn-reset c-tooltip__link" aria-labelledby="notifications-count notifications-label" aria-describedby="notifications-desc">
        {% include atom.icon.html value="notifications" %}
        <span id="notifications-count" class="c-badge c-badge--icon">3</span>
        <span class="u-hidden-visually">
          Notifications
        </span>
      </button>
      <div id="notifications-desc" class="c-tooltip__body" role="tooltip">
        View and manage notifications settings
      </div>
    </div>
  </li>
  <li class="o-layout__item u-1/2 u-1/4@medium">
    <div class="c-tooltip c-tooltip--right">
      <button class="c-btn-reset c-tooltip__link" aria-labelledby="notifications-count notifications-label" aria-describedby="notifications-desc">
        {% include atom.icon.html value="notifications" %}
        <span id="notifications-count" class="c-badge c-badge--icon">3</span>
        <span class="u-hidden-visually">
          Notifications
        </span>
      </button>
      <div id="notifications-desc" class="c-tooltip__body" role="tooltip">
        View and manage notifications settings
      </div>
    </div>
  </li>
  <li class="o-layout__item u-1/2 u-1/4@medium">
    <div class="c-tooltip c-tooltip--left">
      <button class="c-btn-reset c-tooltip__link" aria-labelledby="notifications-count notifications-label" aria-describedby="notifications-desc">
        {% include atom.icon.html value="notifications" %}
        <span id="notifications-count" class="c-badge c-badge--icon">3</span>
        <span class="u-hidden-visually">
          Notifications
        </span>
      </button>
      <div id="notifications-desc" class="c-tooltip__body" role="tooltip">
        View and manage notifications settings
      </div>
    </div>
  </li>
</ul>

