{% comment %}
{% include organism.footer.html %}
{% endcomment %}
<div class="o-row c-color-white">
  <div class="o-wrapper o-wrapper--huge c-ui c-ui--footer">
    {% include molecule.social-links.html %}

    <small class="u-margin-bottom-none">
      ©{{ site.legal.year }} {{ site.author }}. <a href="/legal/" class="c-link">{{ site.labels.legal }}</a>, <a href="/cookies/" class="c-link">{{ site.labels.cookies }}</a>, <a href="/privacy/" class="c-link">{{ site.labels.privacy }}</a>
    </small>
  </div>
</div>
