<!DOCTYPE html>
<html class="c-brand c-color-white">
  {% include "components/organism.head.liquid" %}
  <body>
    {{ content }}
    {% include "components/organism.javascript.liquid" %}
  </body>
</html>
