/* ==================================
   #FORMS
   ================================== */

.c-field {
  position: relative;

  & + & {
    margin-top: $unit;
  }
}

.c-field--check {
  display: flex;
  flex-wrap: wrap;

  .c-checkbox {
    display: block;
    padding-right: $unit;
    position: relative;
    top: .5ex;
    width: $unit;
  }

  .c-label {
    color: $color-neutral-dark;
    margin-bottom: $unit-tiny;
    width: calc(100% - #{$unit});
  }
}

.c-legend {
  @include font-size($h6);
  font-weight: $bold;
  margin-bottom: $unit-small;
}

.c-label {
  @include font-size($small);
  display: block;
  color: $color-neutral;
  margin-bottom: $unit-tiny;

  i {
    @include font-size($tiny);
    display: inline-block;
    font-style: normal;
    position: relative;
    bottom: .1ex;
    padding: 0 $unit-tiny;
    margin-left: $unit-tiny;
    color: $white;
    background-color: $color-neutral-light;
    border-radius: $radius;
  }
}
