/* ==================================
   #TYPOGRAPHY
   ================================== */

.c-lead {
  @include font-size($h4,1.5);
  margin-bottom: $inuit-global-spacing-unit-large;
}

// Badge > Small text with background color
// ---
.c-badge {
  @include font-size($tiny);
  display: inline-block;
  padding: 0 $unit-tiny;
  color: $color-neutral;
  background-color: $color-neutral-xxlight;
  border-radius: $radius;

  .c-form & {
    margin-left: $unit-tiny;
  }
}

.c-badge--negative {
  color: $white;
  background-color: $color-neutral-light;
}
