/* ==================================
   #TABS
   ================================== */

.c-tabs {

}

  .c-tabs__list {
    display: flex;
    margin-bottom: -1px;
  }

  .c-tabs__item {
    border: 1px solid $color-neutral-xxlight;
    border-bottom: 0;
    background-color: $white;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

    & + & {
      margin-left: $unit-tiny;
    }
  }

  .c-tabs__link {
    text-decoration: none;
    display: block;
    padding: $unit-tiny $unit-small;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

    &,
    &:visited {
      color: $color-neutral;
      background-color: $color-neutral-xxlight;
    }

    &:hover,
    &:focus {
      color: $color-neutral-dark;
    }

    &:focus {
      outline: 0;
      box-shadow: inset 0 0 0 2px $color-neutral-xlight;
    }

    &[aria-selected='true'] {
      color: $color-neutral-dark;
      background-color: transparent;
    }
  }

  .c-tabs__section {
    padding: $unit-small;
    border: 1px solid $color-neutral-xxlight;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;

    * {
      margin-bottom: 0;
    }

    * + * {
      margin-top: $unit-small;
    }

    &:focus {
      outline: 0;
      box-shadow: inset 0 0 0 2px $color-neutral-xlight;
    }

    @include mq(medium) {
      padding: $unit
    }
  }
