///* ========================================================================
//   #COLORS
//   ======================================================================== */

// Tint & shade helper functions (http://bourbon.io/docs/#tint-shade)

// Makes a color lighter
@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}

// Makes a color darker
@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}





// Base colors inspired by clrs.cc by @mrmrs_

$aqua                       : #01BCD4;
$blue                       : #04A9F4;
$navy                       : #3F51B5;
$teal                       : #009588;
$green                      : #8BC34A;
$lime                       : #CDDC3A;

$yellow                     : #FFEB3B;
$dark-yellow                : #FCBF41;
$orange                     : #FF9802;
$red                        : #F44336;
$pink                       : #FFB199;
$fuchsia                    : #E91E63;
$purple                     : #5B3D9F;

$white                      : #FFFFFF;
$silver                     : #A8A8A8;
$gray                       : #607D8B;
$black                      : #232C37;





// Brand colors

$color-neutral              : #39414B;
$color-neutral-xxxlight     : #F3F5F6;
$color-neutral-xxlight      : #EFF2F3;
$color-neutral-border       : shade($color-neutral-xxlight,10);
$color-neutral-xlight       : $silver;
$color-neutral-light        : $gray;
$color-neutral-dark         : $black;

$color-primary              : $red;
$color-primary-xlight       : tint($color-primary,80%);
$color-primary-light        : tint($color-primary,20%);
$color-primary-dark         : shade($color-primary,20%);

$color-secondary            : $navy;
$color-secondary-xlight     : tint($color-secondary,97%);
$color-secondary-light      : tint($color-secondary,20%);
$color-secondary-dark       : shade($color-secondary,20%);

$color-tertiary             : $yellow;
$color-tertiary-xlight      : tint($color-tertiary,97%);
$color-tertiary-light       : tint($color-tertiary,20%);
$color-tertiary-dark        : shade($color-tertiary,20%);





// UI colors

$color-success              : $green;
$color-success-light        : tint($color-success,10%);
$color-success-dark         : shade($color-success,10%);

$color-error                : $red;
$color-error-light          : tint($color-error,10%);
$color-error-dark           : shade($color-error,10%);

$color-notice               : $orange;
$color-notice-light         : tint($color-notice,10%);
$color-notice-dark          : shade($color-notice,10%);
