---
layout: default
---

<section class="o-row-large s-theme-primary">
  <div class="o-wrapper">
    <h2>Cards</h2>
    <ul class="o-layout">
      {% for item in site.data.cards %}
      <li class="o-layout__item u-1/2@medium">
        {% include molecule.card.html image=item.image title=item.title body=item.body footnote=item.footnote %}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="o-row-large s-theme-white u-divider">
  <div class="o-wrapper">
    <h2>Tabs</h2>
    {% include organism.tabs.html %}
  </div>
</section>

<section class="o-row-large s-theme-white u-divider">
  <div class="o-wrapper">
    <h2>Collapsed sections</h2>
    {% include organism.collapsed-sections.html %}
  </div>
</section>

<section class="o-row-large s-theme-white u-divider">
  <div class="o-wrapper">
    <h2>Menu button</h2>
    {% include organism.menu.html %}
  </div>
</section>

<section class="o-row-large s-theme-white u-divider">
  <div class="o-wrapper">
    <h2>Tooltips</h2>
    {% include organism.tooltips.html %}
  </div>
</section>

<section class="o-row-large s-theme-white u-divider">
  <div class="o-wrapper">
    <h2>Toggle tips</h2>
    {% include organism.toggletips.html %}
  </div>
</section>

<section class="o-row-large s-theme-neutral-xxlight">
  <div class="o-wrapper">
    <h2>Forms</h2>
    <form action="#!" class="c-form">
      <div role="status" aria-live="polite">
        <!-- Add status messages here -->
      </div>
      <fieldset class="c-fieldset">
        <legend class="c-legend">Title</legend>
        {% include atom.form-text.html id="text-input" placeholder="E.g. placeholder text" label="Label" optional="Optional" %}
        {% include atom.form-textarea.html id="text-area" placeholder="E.g. placeholder text" label="Label" %}
      </fieldset>
      <fieldset class="c-fieldset">
        {% include atom.form-select.html id="select" label="Label" dataset=site.data.countries %}
      </fieldset>
      <fieldset>
        {% include atom.form-checkbox.html id="checkbox" label="Label" optional="Optional" %}
      </fieldset>
      <button role="submit" class="c-btn c-btn--primary c-btn--large">Send</button>
    </form>
  </div>
</section>

<!-- {% include organism.hero.html %} -->
