---
layout: default
---

<section class="o-row-large s-theme-primary">
  <div class="o-wrapper">
    <h2>Cards</h2>
    <ul class="o-layout">
      {% for item in site.data.cards %}
      <li class="o-layout__item u-1/2@medium">
        {% include molecule.card.html image=item.image title=item.title body=item.body footnote=item.footnote %}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="o-row-large s-theme-white u-divider">
  <div class="o-wrapper">
    <h2>Tabs</h2>
    {% include organism.tabs.html %}
  </div>
</section>

<section class="o-row-large s-theme-white u-divider">
  <div class="o-wrapper">
    <h2>Collapsed sections</h2>
    {% include organism.collapsed-sections.html %}
  </div>
</section>

<section class="o-row-large s-theme-white u-divider">
  <div class="o-wrapper">
    <h2>Menu button</h2>
    {% include organism.menu.html %}
  </div>
</section>


<section class="o-row-large s-theme-neutral-xxlight">
  <div class="o-wrapper">
    <h2>Forms</h2>
    <form action="#!" class="c-form">
      <div role="status" aria-live="polite">
        <!-- Add status messages here -->
      </div>
      <fieldset class="c-fieldset">
        <legend class="c-legend">Title</legend>
        {% include atom.form-text.html id="text-input" placeholder="E.g. placeholder text" label="Label" optional="Optional" %}
        {% include atom.form-textarea.html id="text-area" placeholder="E.g. placeholder text" label="Label" %}
      </fieldset>
      <fieldset class="c-fieldset">
        {% include atom.form-select.html id="select" label="Label" dataset=site.data.countries %}
      </fieldset>
      <fieldset>
        {% include atom.form-checkbox.html id="checkbox" label="Label" optional="Optional" %}
      </fieldset>
      <button role="submit" class="c-btn c-btn--primary c-btn--large">Send</button>
    </form>
  </div>
</section>

<!-- {% include organism.hero.html %} -->

<!-- <div class="o-row-large c-color-primary">
  <div class="o-wrapper o-wrapper--large">
    <h2>Cards title</h2>
    <div class="o-layout o-layout--small">
      <div class="o-layout__item u-1/2@medium u-padding-small">
        <div class="c-card c-card--shadow c-card--match c-color-white">
          <div class="o-box c-card__body">
            <h2 class="u-h3">Card title</h2>
            <p>Long tail leverage customer crowdsource MVP. Business model canvas iPad deployment graphical user interface bootstrapping infrastructure learning curve bandwidth launch party.</p>
          </div>
          <div class="o-box c-card__footer">
            <p>
              <a href="#!" alt="" class="c-btn c-btn--primary c-btn--ghost">Link</a>
            </p>
          </div>
        </div>
      </div>
      <div class="o-layout__item u-1/2@medium u-padding-small">
        <div class="c-card c-card--shadow c-card--match c-color-white">
          <div class="o-box c-card__body">
            <h2 class="u-h3">Card title</h2>
            <p>Venture equity entrepreneur first mover advantage technology business-to-consumer branding.</p>
          </div>
          <div class="o-box c-card__body">
            <p>
              <a href="#!" alt="" class="c-btn c-btn--primary c-btn--ghost">Link</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
